<div class="container p-0">
  <div id="menu" class="p-fixed mb-5">
    {{#each enUs.content.menu}}
    <a href="#{{this.url}}" class="blue-bic postit p-relative js-menu-item {{#if @first}}active{{/if}} {{this.color}}">
      <div id="menu-{{this.name}}"    class=" p-content-s">
        {{this.name}}
      </div>
    </a>
    {{/each}}

    <div id="languages" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="main-flag" class="flag flag-en js-main-flag"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="js-flag-item dropdown-item" href="#" data-lang="enUs"  data-flag="flag-en"><div class="float-left flag flag-en " ></div> English</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="daDk" data-flag="flag-dk"><div class="float-left flag flag-dk " ></div> Dansk</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="esEs" data-flag="flag-es"><div class="float-left flag flag-es " ></div> Español</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="frFr" data-flag="flag-fr"><div class="float-left flag flag-fr " ></div> Français</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="hiIn" data-flag="flag-hi"><div class="float-left flag flag-hi " ></div> हिंदी</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="itIt" data-flag="flag-it"><div class="float-left flag flag-it " ></div> Italiano</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="nlNl" data-flag="flag-nl"><div class="float-left flag flag-nl " ></div> Nederlands</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="jpJp" data-flag="flag-jp"><div class="float-left flag flag-jp " ></div> 日本語</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="ptBr" data-flag="flag-pt"><div class="float-left flag flag-pt " ></div> Português</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="roRo" data-flag="flag-ro"><div class="float-left flag flag-ro " ></div> Română</a>
        <a class="js-flag-item dropdown-item" href="#" data-lang="ruRu" data-flag="flag-ru"><div class="float-left flag flag-ru " ></div> Русский</a>
      </div>
    </div>
  </div>
</div>
