body{
  background-color: #fff;
  background-image:
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

// Margin top
.mt-3{ margin-top: 60px;}
.mt-2{ margin-top: 40px;}
.mt-1{ margin-top: 20px;}
// Margin bottom
.mb-3{ margin-top: 60px;}
.mb-2{ margin-top: 40px;}
.mb-1{ margin-top: 20px;}

// Paddings
.p-content{ padding: 25px;}
.p-content-s{padding: 15px;}
.p-0{padding: 0!important;}
// Colors
.bg-neutral-white{background: #f3f3f3;}

.bg-postit-helsinki-pink { background: #fad2da;	}   //(250,210,218)
.bg-postit-helsinki-yellow { background:#fbf7ae; }  //(251,247,174)
.bg-postit-helsinki-blue-1 { background:#dae3ea; }  //(218,227,234)
.bg-postit-helsinki-blue-1 { background:#a9c6e8;}   //(169,198,232)
.bg-postit-helsinki-gray-1 { background:#d6d4df;}	  //(214,212,223)
.bg-postit-yellow{background: #FFFFA5;} // (255,255,165)
.bg-postit-green{ background: #00A00A } // (0,160,10)
.bg-postit-orange{ background: #F96604; } //(249,102,4)
.bg-postit-blue-1{ background: #149CCB; } // (20,156,203)
.bg-postit-blue-2{ background: #0CE6F9; } // (12,230,249)

.blue-bic { color: #284283 } //40,66,131
//text
.txt-center{ text-align: center;}
.p-relative{position: relative;}
.p-fixed{position: fixed;}

.w-f{width: 100%;}

.postit{
  float: right;
  max-width: 115px;
  width: 100%;
  transition:  all .25s ease 0s;
}
.postit:hover,
.postit.active{
  max-width: 130px;
}
